:root {
--main-font: 'Rubik', 'Helvetica Neue', Arial, Helvetica, sans-serif;
--black: #000000;
--white: #FFFFFF;
--color-accent: #FF3700;
--color-text: #555555;
--color-label: #707070;
--color-border: #DEDEDE;
--color-empty-bg: #BBBBBB;
--line-global: 20px;
--gutter-global: calc(var(--line-global) * 2);
--body-font-size: 15px;
--label-font-size: 12px;
--standard-border: 1px solid var(--color-border);
--black-border: 1px solid var(--black);
}

button,
.styled-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 0;
  width: auto;
  margin: 0;
  padding: 0;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  text-align: left;
}

/* Base */

* {
    font-family: var(--main-font);
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: var(--black);
    line-height: var(--line-global);
}

body {
    font-size: var(--body-font-size);
}

h1,h2,h3,h4,h5,h6,p,ul,ol {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

a {
    text-decoration: none;
}

/* Style Guide */
h2 {
    font-size: calc(var(--body-font-size) * 2);
    line-height: calc(var(--line-global) * 2);
}

h3 {
    font-size: var(--body-font-size);
    line-height: var(--line-global);
}

.list-with-stroke {
    list-style-type: none;
}

.list-with-stroke li {
    padding: var(--line-global) 0;
    border-top: var(--standard-border);
}

.list-with-stroke li:last-child {
    padding: var(--line-global) 0;
    border-bottom: var(--standard-border);
}

.headline-big {
    font-size: 22vw;
    line-height: 1;
}

p, ul, ol {
    font-size: var(--body-font-size);
    line-height: var(--line-global);
    color: var(--color-text);
}

label {
    font-size: var(--label-font-size);
    color: var(--color-label);
}

button {
    width: 100%;
    font-size: var(--body-font-size);
    line-height: var(--line-global);
    padding: var(--line-global);
    background: var(--black);
    color: var(--white);
}

#productSelect {
    width: 100%;
    font-size: var(--body-font-size);
    line-height: var(--line-global);
    padding: var(--line-global);
    border: var(--black-border);
}

.styled-select {
    position: relative;
}
.styled-select .select-arrow {
    position: absolute;
    top: 0;
    right: 0;
}

.select-arrow {
    padding: var(--line-global);
    border-left: var(--black-border);
    pointer-events: none;
}


/*Utility classes */
.valign-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.valign-bottom {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.grid {
    display: grid;
    column-gap: var(--gutter-global);
    row-gap: var(--gutter-global);
}

.two-columns {
    grid-template-columns: 1fr 1fr;
}

.sticky-side-image {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: calc(50% - (var(--gutter-global) / 2));
}

.sticky-side-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-content {
    width: calc(50% + (var(--gutter-global) / 2));
    margin-left: auto;
    padding: var(--gutter-global);
    grid-template-rows: minmax(max-content, auto) minmax(min-content, max-content);
}

/* global styles */

.cart-item-count {
    color: var(--white);
    text-align: center;
    border-radius: 50%;
}

.link-to-cart, 
.link-to-home {
    position: fixed;
    top: 0;
    right: 0;
    padding: var(--gutter-global);
    color: var(--color-text);
}

.link-to-home {
    color: var(--black);
    z-index: 1;
}

.link-to-cart .cart-item-count {
    display: block;
    font-size: 0px;
    width: 10px;
    height: 10px;
    margin-top: 4px;
    background: var(--color-border);
    
}

.link-to-cart .cart-text {
    display: none;
    position: absolute;
    right: calc(100% - (var(--gutter-global) / 2));
    top: var(--gutter-global);
    white-space: nowrap;
}

.link-to-cart:hover .cart-text{
    display: block;
}

.link-to-cart.cart-filled .cart-item-count{
    background-color: var(--color-accent);
    height: 20px;
    width: 20px;
    font-size: var(--label-font-size);
    
    margin-top: 0;
}

/* Index classes */

.headline {
    padding-bottom: calc(var(--line-global) * 3);
}

.form-wrapper {
    padding-top: calc(var(--line-global) * 3);
    padding-bottom: calc(var(--line-global) * 3); ;
}

.description-content {
    margin-top: var(--line-global);
}

#add-to-cart .product-price{
    float: right;
}

#add-to-cart {
    background: var(--color-accent);
}

/* CART STYLES */

#cart {
    background: var(--color-empty-bg);
    color: var(--white);
}

#cart.cart-filled {
    background: var(--color-accent);
}

#cart a {
    color: inherit;
}

#cart-title {
    position: relative;
}

#cart:not(.cart-filled) #cart-title {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: var(--white);
    -webkit-text-stroke-width: 2px;
    -moz-text-fill-color: transparent;
    -moz-text-stroke-color: var(--white);
    -moz-text-stroke-width: 2px;
}

#cart .cart-item-count {
    display: block;
    font-size: 0.06em;
    border: 2px solid var(--white);
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8em;
    position: absolute;
    top: 2em;
    right: 0;
}

#cart.cart-filled .cart-item-count {
    background: var(--black);
    border: none;
}

#cart-empty-lines, #back-to-fitra {
    grid-column: 2;
}

.empty-line {
    border-top: 1px solid var(--white);
    height: calc(var(--line-global) * 3);
}

.empty-line:first-child {
    margin-top: var(--line-global);
}

.empty-line:last-child {
    border-bottom: 1px solid var(--white);
}

#back-to-fitra {
    margin-bottom: var(--line-global);
}

#cart-lines {

}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

th {
    text-align: left;
    font-weight: 400;
    padding: var(--line-global) 0;
}

tbody tr {
    border-top: 1px solid var(--white);
}

td {
    padding: var(--line-global) 0;
    position: relative;
}

td:last-child {
    text-align: right;
    vertical-align: top;
}
.remove-line {
    position: absolute;
    top: 0;
    left: 100%;
    padding: var(--line-global) calc(var(--line-global) / 2) ;
    display: block;
    text-align: center;
    width: var(--gutter-global);
}

.remove-text {
    position: absolute;
    top: 0;
    right: 100%;
    padding: var(--line-global);
    display: none;
    background: var(--color-accent);
    color: var(--black);
}

.remove-line:hover .remove-text {
    display: block;
}

#cart-content {
    padding-bottom: calc(var(--line-global) * 2);
}

#cart-totals {
    margin-bottom: calc(var(--line-global )* 4);
    border-bottom: 1px solid var(--white);
}

#cart-support p {
    color: inherit;
}

#cart-form-wrap {
    grid-row: span 2;
}

#checkout-button {
    text-align: center;
    grid-row: 2;
}